@model GroupProjectCISS411.Models.Coach
<h2 class="pageHeader">Add Your Profile</h2>
<form asp-action="AddProfile">
<input asp-for="@Model.UserId" type="hidden" />
<label asp-for="CoachName"></label>
<input asp-for="CoachName" />
<br />
<label asp-for="CoachPhone"></label>
<input asp-for="CoachPhone" />
<br />
<button type="submit">Add Profile</button>
</form>
<p><a asp-action="Index">Back to coach home</a></p>
<br />
<p>©2020 - Columbia Coders</p>