@model GroupProjectCISS411.Models.Session
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <h3 class="pageHeader">Add Session</h3>
    <form asp-controller="Coach" asp-action="AddSession" method="post">
        <label asp-for="SessionTitle"></label>
        <input asp-for="SessionTitle" />
        <br />
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" />
        <br />
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" />
        <br />
        <label asp-for="SeatCapacity"></label>
        <input asp-for="SeatCapacity" />
        <br />
        <label asp-for="DailyStartTime"></label>
        <input asp-for="DailyStartTime" />
        <br />
        <input asp-for="CoachId" type="hidden" />
        <br />
        <button type="submit">Add Session</button>
    </form> 