@model IEnumerable<GroupProjectCISS411.Models.Enrollment>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<h3 class="pageHeader">Swimmer Name: @ViewData["sname"]</h3>
<table class="table">
    <tr>
        <th>Session Title</th>
        <th>Report</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Session.SessionTitle</td>
            <td>@Html.DisplayFor(m => c.Report)</td>
        </tr>
    }
</table>
<p><a asp-action="Indec">Back to swimmer home</a></p>
