<h2>Swimmer Home</h2>
<p><a asp-action="AddProfile">Add Profile</a></p>
<p><a asp-action="AllSession">Register for a session</a></p>
<p><a asp-action="CheckReport">Check a progress report</a></p>
<br />
<p>©2020 - Columbia Coders</p>