@model IEnumerable<GroupProjectCISS411.Models.Lesson>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<p><a asp-controller="Admin" asp-action="AddLesson">Add a Lesson</a></p>
@{ 
    if (Model.Count() < 1)
    {
        <p>No lessons currently in database</p>
    }
    else
    {
        <h3 class="pageHeader">All Lessons</h3>
        <table border="1">
            <tr>
                <th>Lesson ID</th>
                <th>Lesson Title</th>
                <th>Skill Level</th>
                <th>Tuition</th>
            </tr>
            @foreach (var lesson in Model)
            {
                <tr>
                    <td>@lesson.LessonId</td>
                    <td>@lesson.LessonTitle</td>
                    <td>@lesson.SkillLevel</td>
                    <td>$@lesson.Tuition</td>
                </tr>
            }
        </table>
    }
}