<h2>Admin Home</h2>
<p><a asp-action="AllRole">Show all roles</a></p>
<p><a asp-action="AddRole">Add a role</a></p>
<p><a asp-action="AllUser">Assign a user to a role</a></p>
<p><a asp-action="AllLesson">Show all lessons</a></p>
<p><a asp-action="AddLesson">Add a lesson</a></p>
<br />
<p>©2020 - Columbia Coders</p>

