<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Smith Swimming School</title>
</head>
<body>
    <div id="contactInfo">
        <h2 class="pageHeader">Contact Information</h2>
        <p class="text-info">The Smiths</p>
        <p class="text-info">1232 Apple Lane</p>
        <p class="text-info">Columbia, Missouri, 65201</p>
        <p class="text-info">(573)882-1902</p>
    </div>
</body>
</html>