<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<p id="welcome">
    <h2 class="pageHeader, text-primary">WELCOME</h2>
    <span class="text-primary">Thank you for registering.</span>
    <br />
    <span class="text-primary">Please contact an Admin to gain proper access to the system. </span>
</p>