<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<p id="welcome">
    <span>Welcome.  If you are seeing this page then your account has not been given a role.</span>
    <br />
    <span>Please contact an Admin to gain proper access to the system. </span>
</p>