<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Smith Swimming School</title>
    <style>
        
        .systemHeader {
            font-size: 54px;
            color: royalblue;
            text-shadow: 1px 1px black;
            text-decoration-line: underline;
            margin-block-start: 0em;
            margin-block-end: 0.25em;
        }
            
        #userName {
            background-color: mistyrose;
            font-weight: bold;
            border: thin solid black;
            padding: 3px;
        }

        footer {
            color: darkslategray;
        }

        #welcome {
            font-size: x-large;
        }

        .pageHeader {
            font-size: xx-large;
        }

        #logOutButton {
            color: darkred;
            font-weight: bolder;
        }

        #coachName {
            font-style: italic;
        }
    </style>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div class="container container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <h3 class="systemHeader">Smith Swimming School</h3>
            <nav class="navbar navbar-fixed-top">
                <div class="container container-fluid">
                    <div class="navbar-header">
                        <!--<h3 class="systemHeader">Smith Swimming School</h3>-->
                    </div>
                    <div class="navbar-collapse collapse">
                        <a asp-controller="Home" asp-action="Index">&nbsp; Home &nbsp;</a>
                        <a asp-controller="Home" asp-action="About">&nbsp; About &nbsp;</a>
                        <a asp-controller="Home" asp-action="Contact">&nbsp; Contact &nbsp;</a>
                        <!--<ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>-->
                    </div>
                </div>
            </nav>
        </div>
    </div>


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <div><span id="userName">@this.User.Identity.Name</span></div>
                    <br />
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input id="logOutButton" type="submit" value="⮌ Logout" />
                    </form>
                }
                <p>&copy; 2020 Columbia Coders</p>
            </footer>
        </div>
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
</body>
</html>