@model GroupProjectCISS411.ViewModels.AccountLoginViewModel
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<h2>User Login</h2>
<form asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <button type="submit">Log In</button>
</form>
<br />
<p>New Swimmer?<a asp-action="Register">Register here</a></p>