@model GroupProjectCISS411.ViewModels.AccountRegisterViewModel
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<h2 class="pageHeader">User Registration</h2>
<form asp-action="Register" method="post" class="form horizontal">
    <fieldset class="form-group">
        <div asp-validation-summary="All"></div>
        <label asp-for="Email" class="control-label col-xs-2"></label>
        <div class="col-xs-6">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <br />
        <label asp-for="Password" class="control-label col-xs-2"></label>
        <div class="col-xs-6">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
            <br />
        </div>
    </fieldset>
    <fieldset class="form-group">
        <label asp-for="ConfirmPassword" class="control-label col-xs-2"></label>
        <div class="col-xs-6">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword"></span>
            <br />
        </div>
    </fieldset>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </div>
</form>
<br />